
<!-- Facebook script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=624179964262197&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--/Facebook script -->

  <h2 class="title type-three">
  <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/2turno/" title="Apuração"><span class="first-title">Apuração</span></a> 
  <span class="second-title">- Eleições 2014</span>
</h2>

  <header class="gd12">
  <!-- top -->
  <section class="share-box">
    <!-- GPlus -->
    <div class="gplus">
      <div class="g-plusone" data-size="medium"></div>
    </div>
    <!--/ GPlus -->

    <!-- Twitter -->
    <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
    <!-- /Twitter -->

    <!-- Facebook -->
    <div class="facebook">
      <div class="fb-share-button" data-layout="button_count" data-href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/2turno/"></div>
    </div>
    <!--/ Facebook -->
  </section>
  <!-- Realtime Logo -->
  <div class="real-time-logo">
    <span class="text-one">TECNOLOGIA</span>
    <span class="text-two">REAL TIME</span>
    <img class="img-realtime" src="http://i0.statig.com.br/sass-canais-dev/iglr/images/logo-realtime.png">
  </div>
  <!--/Realtime Logo -->
  <hr/>
  
  <hgroup>
    <h2 class="title type-four">Apuração detalhada</h2>
    <h4 class="title type-five">Selecione um ou mais filtros para realizar a consulta:</h4>
  </hgroup>
  <!-- buttons -->
  <nav>
    <ul>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/" class="disabled" title="1º Turno">1º Turno</a>
      </li>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/2turno/" title="2º Turno">2º Turno</a>
      </li>
    </ul>
  </nav>
  <!--/buttons -->
  <!--/ top -->
</header> 


  <section class="search-box">
    <div class="state">
      <label for="estado">Estado:</label>
      <section class="combo">
        <select class='mySelectTheme' id="estado">
          <option value=''>Selecione</option>
          <option value='acre'>Acre</option>
          <option value='alagoas'>Alagoas</option>
          <option value='amapa'>Amapá</option>
          <option value='amazonas'>Amazonas</option>
          <option value='bahia'>Bahia</option>

          <option value='ceara'>Ceará</option>
          <option value='distrito-federal'>Distrito Federal</option>
          <option value='espirito-santo'>Espírito Santo</option>
          <option value='goias'>Goiás</option>
          <option value='maranhao'>Maranhão</option>
          <option value='mato-grosso'>Mato Grosso</option>
          <option value='mato-grosso-do-sul'>Mato Grosso do Sul</option>
          <option value='minas-gerais'>Minas Gerais</option>
          <option value='parana'>Paraná</option>
          <option value='paraiba'>Paraíba</option>
          <option value='para'>Pará</option>
          <option value='pernambuco'>Pernambuco</option>

          <option value='piaui'>Piauí</option>
          <option value='rio-de-janeiro'>Rio de Janeiro</option>
          <option value='rio-grande-do-norte'>Rio Grande do Norte</option>
          <option value='rio-grande-do-sul'>Rio Grande do Sul</option>
          <option value='rondonia'>Rondônia</option>
          <option value='roraima'>Roraima</option>
          <option value='santa-catarina'>Santa Catarina</option>
          <option value='sergipe'>Sergipe</option>
          <option value='sao-paulo'>São Paulo</option>
          <option value='tocantins'>Tocantins</option>
        </select>
      </section>
    </div>
    <div class="job-title job-title-segundo-turno">
      <label for="cargo">Cargo:</label>
      <section class="combo">
        <select class='mySelectTheme' id="cargo">
          <option value=''>Selecione</option>
          <option value='presidente'>Presidente</option>
          <option value='governador'>Governador</option>
        </select> 
      </section>
    </div>
    <button id="send-filter">OK</button>
    <div class="error"></div>
</section>
<hr />


  <section class="gd12">
   <div class="total-votos-estado">
  <img src="http://i0.statig.com.br/ultimosegundo/eleicoes/2014/bandeiras-estados/{estado}.jpg" alt="Bandeira do estado" class="estado-flag"/>
  <h2 class="votos-estado">{nomeEstado}</h2>
 </div>
  </section>
  
  <section class="gd12">
    <div class="wrapper-top-presidente-top-governador">
      <div class="segundo-turno-presidente-estado fl">
        <h2 class="title type-two"><span class="first-title">Presidente</span> <span class="second-title">2º Turno</span></h2>
        <div id="2turno-top-presidente-{estado}" class="rt-component">
        </div>
      </div>
      <div class="segundo-turno-governador-estado governador-eleito fr">
        <h2 class="title type-two"><span class="first-title">Governador</span> <span class="second-title">2º Turno</span></h2>
        <div id="2turno-top-governador-{estado}" class="rt-component">
        </div>
      </div>
    </div>
  </section>  
  <section class="gd12">
  </section>  

  <section class="gd11 total-votos-apurados-footer">
    <div id="2turno-total-votos-apurados-sp" class="rt-component">
    </div>
  </section>
<script type="text/javascript" src="http://dfdbz2tdq3k01.cloudfront.net/js/2.1.0/ortc.js"></script>
<script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/rt/realtime-cli.min.js?v=50"></script>
<script type="text/javascript" src="http://js.statig.com.br/dropfy/dropfy-2.0.js"></script> 
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'pt-BR'}
</script>

  <script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/estado/estado.min2.js?v=2000761"></script>

