
<!-- Facebook script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=624179964262197&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--/Facebook script -->

  <h2 class="title type-three">
  <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/" title="Apuração"><span class="first-title">Apuração</span></a> 
  <span class="second-title">- Eleições 2014</span>
</h2>

  <header class="gd12">
  <!-- top -->
  <section class="share-box">
    <!-- GPlus -->
    <div class="gplus">
      <div class="g-plusone" data-size="medium"></div>
    </div>
    <!--/ GPlus -->

    <!-- Twitter -->
    <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
    <!-- /Twitter -->

    <!-- Facebook -->
    <div class="facebook">
      <div class="fb-share-button" data-layout="button_count" data-href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/"></div>
    </div>
    <!--/ Facebook -->
  </section>
  <!-- Realtime Logo -->
  <div class="real-time-logo">
    <span class="text-one">TECNOLOGIA</span>
    <span class="text-two">REAL TIME</span>
    <img class="img-realtime" src="http://i0.statig.com.br/sass-canais-dev/iglr/images/logo-realtime.png">
  </div>
  <!--/Realtime Logo -->
  <hr/>
  
  <hgroup>
    <h2 class="title type-four">Apuração detalhada</h2>
    <h4 class="title type-five">Selecione um ou mais filtros para realizar a consulta:</h4>
  </hgroup>
  <!-- buttons -->
  <nav>
    <ul>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/" title="1º Turno">1º Turno</a>
      </li>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/2turno/" class="disabled" title="2º Turno">2º Turno</a>
      </li>
    </ul>
  </nav>
  <!--/buttons -->
  <!--/ top -->
</header> 


  <section class="search-box">
    <div class="state">
      <label for="estado">Estado:</label>
      <section class="combo">
        <select class='mySelectTheme' id="estado">
          <option value=''>Selecione</option>
          <option value='acre'>Acre</option>
          <option value='alagoas'>Alagoas</option>
          <option value='amapa'>Amapá</option>
          <option value='amazonas'>Amazonas</option>
          <option value='bahia'>Bahia</option>

          <option value='ceara'>Ceará</option>
          <option value='distrito-federal'>Distrito Federal</option>
          <option value='espirito-santo'>Espírito Santo</option>
          <option value='goias'>Goiás</option>
          <option value='maranhao'>Maranhão</option>
          <option value='mato-grosso'>Mato Grosso</option>
          <option value='mato-grosso-do-sul'>Mato Grosso do Sul</option>
          <option value='minas-gerais'>Minas Gerais</option>
          <option value='parana'>Paraná</option>
          <option value='paraiba'>Paraíba</option>
          <option value='para'>Pará</option>
          <option value='pernambuco'>Pernambuco</option>

          <option value='piaui'>Piauí</option>
          <option value='rio-de-janeiro'>Rio de Janeiro</option>
          <option value='rio-grande-do-norte'>Rio Grande do Norte</option>
          <option value='rio-grande-do-sul'>Rio Grande do Sul</option>
          <option value='rondonia'>Rondônia</option>
          <option value='roraima'>Roraima</option>
          <option value='santa-catarina'>Santa Catarina</option>
          <option value='sergipe'>Sergipe</option>
          <option value='sao-paulo'>São Paulo</option>
          <option value='tocantins'>Tocantins</option>
        </select>
      </section>
    </div>
    <div class="job-title">
      <label for="cargo">Cargo:</label>
      <section class="combo">
        <select class='mySelectTheme' id="cargo">
          <option value=''>Selecione</option>
          <option value='presidente'>Presidente</option>
          <option value='governador'>Governador</option>
          <option value='senador'>Senador</option>
          <option value='deputado-federal'>Deputado federal</option>
          <option value='deputado-estadual'>Deputado estadual</option>
        </select> 
      </section>
    </div>
    <button id="send-filter">OK</button>
    <div class="error"></div>
</section>
<hr />
  
  <section>
    <h2 class="title type-one"><span class="first-title">Deputado estadual</span> <span class="second-title">1º Turno</span></h2>
  </section>
  
  <!-- component -->
  <div id="accContainer1" class="accContainer">
    <!-- -->
    <div id="accBt1" class="accBt1 accBt bt bb">
      <h3 class="accTitle fl">Região Sudeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-sp" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-sp.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-rj" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-rj.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-mg" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-mg.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-es" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-es.shtml" --> 
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer2" class="accContainer">
    <!-- -->
    <div id="accBt2" class="accBt2 accBt bb">
      <h3 class="accTitle fl">Região Sul</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-pr" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-pr.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-rs" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-rs.shtml" -->      
        </div>
      </div>

      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-sc" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-sc.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer3" class="accContainer">
    <!-- -->
    <div id="accBt3" class="accBt3 accBt bb">
      <h3 class="accTitle fl">Região Centro-Oeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-go" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-go.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-mt" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-mt.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-ms" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ms.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-df" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-df.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer4" class="accContainer">
    <!-- -->
    <div id="accBt4" class="accBt4 accBt bb">
      <h3 class="accTitle fl">Região Nordeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-ma" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ma.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-pi" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-pi.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-ce" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ce.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-rn" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-rn.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-pb" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-pb.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-pe" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-pe.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-al" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-al.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-se" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-se.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-ba" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ba.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer5" class="accContainer">
    <!-- -->
    <div id="accBt5" class="accBt5 accBt bb">
      <h3 class="accTitle fl">Região Norte</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-ac" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ac.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-am" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-am.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-rr" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-rr.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-ro" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ro.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-pa" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-pa.shtml" -->
        </div>
        <div id="1turno-top-simples-{cargo}-ap" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-ap.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-{cargo}-to" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-{cargo}-to.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <section class="gd12 total-votos-apurados-footer">
    <div id="1turno-total-votos-apurados-br">
    <!--#include virtual="../_includes/1turno-total-votos-apurados-br.shtml" -->
    </div>
  </section>
<script type="text/javascript" src="http://dfdbz2tdq3k01.cloudfront.net/js/2.1.0/ortc.js"></script>
<script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/rt/realtime-cli.min.js?v=50"></script>
<script type="text/javascript" src="http://js.statig.com.br/dropfy/dropfy-2.0.js"></script> 
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'pt-BR'}
</script>

  <script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/cargo/cargo.min.js?v=89763414"></script>
