
<!-- Facebook script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=624179964262197&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--/Facebook script -->

  <h2 class="title type-three">
  <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/" title="Apuração"><span class="first-title">Apuração</span></a> 
  <span class="second-title">- Eleições 2014</span>
</h2>

  <header class="gd12">
  <!-- top -->
  <section class="share-box">
    <!-- GPlus -->
    <div class="gplus">
      <div class="g-plusone" data-size="medium"></div>
    </div>
    <!--/ GPlus -->

    <!-- Twitter -->
    <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
    <!-- /Twitter -->

    <!-- Facebook -->
    <div class="facebook">
      <div class="fb-share-button" data-layout="button_count" data-href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/"></div>
    </div>
    <!--/ Facebook -->
  </section>
  <!-- Realtime Logo -->
  <div class="real-time-logo">
    <span class="text-one">TECNOLOGIA</span>
    <span class="text-two">REAL TIME</span>
    <img class="img-realtime" src="http://i0.statig.com.br/sass-canais-dev/iglr/images/logo-realtime.png">
  </div>
  <!--/Realtime Logo -->
  <hr/>
  
  <hgroup>
    <h2 class="title type-four">Apuração detalhada</h2>
    <h4 class="title type-five">Selecione um ou mais filtros para realizar a consulta:</h4>
  </hgroup>
  <!-- buttons -->
  <nav>
    <ul>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/1turno/" title="1º Turno">1º Turno</a>
      </li>
      <li>
        <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/2turno/" class="disabled" title="2º Turno">2º Turno</a>
      </li>
    </ul>
  </nav>
  <!--/buttons -->
  <!--/ top -->
</header> 


  <section class="search-box">
    <div class="state">
      <label for="estado">Estado:</label>
      <section class="combo">
        <select class='mySelectTheme' id="estado">
          <option value=''>Selecione</option>
          <option value='acre'>Acre</option>
          <option value='alagoas'>Alagoas</option>
          <option value='amapa'>Amapá</option>
          <option value='amazonas'>Amazonas</option>
          <option value='bahia'>Bahia</option>

          <option value='ceara'>Ceará</option>
          <option value='distrito-federal'>Distrito Federal</option>
          <option value='espirito-santo'>Espírito Santo</option>
          <option value='goias'>Goiás</option>
          <option value='maranhao'>Maranhão</option>
          <option value='mato-grosso'>Mato Grosso</option>
          <option value='mato-grosso-do-sul'>Mato Grosso do Sul</option>
          <option value='minas-gerais'>Minas Gerais</option>
          <option value='parana'>Paraná</option>
          <option value='paraiba'>Paraíba</option>
          <option value='para'>Pará</option>
          <option value='pernambuco'>Pernambuco</option>

          <option value='piaui'>Piauí</option>
          <option value='rio-de-janeiro'>Rio de Janeiro</option>
          <option value='rio-grande-do-norte'>Rio Grande do Norte</option>
          <option value='rio-grande-do-sul'>Rio Grande do Sul</option>
          <option value='rondonia'>Rondônia</option>
          <option value='roraima'>Roraima</option>
          <option value='santa-catarina'>Santa Catarina</option>
          <option value='sergipe'>Sergipe</option>
          <option value='sao-paulo'>São Paulo</option>
          <option value='tocantins'>Tocantins</option>
        </select>
      </section>
    </div>
    <div class="job-title">
      <label for="cargo">Cargo:</label>
      <section class="combo">
        <select class='mySelectTheme' id="cargo">
          <option value=''>Selecione</option>
          <option value='presidente'>Presidente</option>
          <option value='governador'>Governador</option>
          <option value='senador'>Senador</option>
          <option value='deputado-federal'>Deputado federal</option>
          <option value='deputado-estadual'>Deputado estadual</option>
        </select> 
      </section>
    </div>
    <button id="send-filter">OK</button>
    <div class="error"></div>
</section>
<hr />
  
  <section>
    <h2 class="title type-one"><span class="first-title">Presidente</span> <span class="second-title">1º Turno</span></h2>
    <div id="1turno-top-presidente-cargo" class="rt-component">
    <!--#include virtual="../_includes/1turno-top-presidente-cargo.shtml" -->
    </div>

    <div class="tabela-retratil mb-30">
      <section class="table-data">
        <div id="1turno-tabela-apuracao-completa-presidente-cargo" class="rt-component">
        <!--#include virtual="../_includes/1turno-tabela-apuracao-completa-presidente-cargo.1.shtml" -->
        </div>
      </section>
      <div class="read-more text-right">
        <button class="action-table show-table">Abrir apuração completa</button>
      </div>
    </div>
  </section>

  <!-- component -->
  <div id="accContainer1" class="accContainer">
    <!-- -->
    <div id="accBt1" class="accBt1 accBt accbt accbb">
      <h3 class="accTitle fl">Região Sudeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-sp" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-sp.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-rj" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-rj.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-mg" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-mg.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-es" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-es.shtml" --> 
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer2" class="accContainer">
    <!-- -->
    <div id="accBt2" class="accBt2 accBt accbb">
      <h3 class="accTitle fl">Região Sul</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-pr" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-pr.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-rs" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-rs.shtml" -->      
        </div>
      </div>

      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-sc" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-sc.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer3" class="accContainer">
    <!-- -->
    <div id="accBt3" class="accBt3 accBt accbb">
      <h3 class="accTitle fl">Região Centro-Oeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-go" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-go.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-mt" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-mt.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-ms" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ms.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-df" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-df.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer4" class="accContainer">
    <!-- -->
    <div id="accBt4" class="accBt4 accBt accbb">
      <h3 class="accTitle fl">Região Nordeste</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-ma" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ma.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-pi" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-pi.shtml" -->      
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-ce" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ce.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-rn" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-rn.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-pb" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-pb.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-pe" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-pe.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-al" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-al.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-se" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-se.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-ba" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ba.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
  <div id="accContainer5" class="accContainer">
    <!-- -->
    <div id="accBt5" class="accBt5 accBt accbb">
      <h3 class="accTitle fl">Região Norte</h3>
      <span title="Expandir" alt="Expandir" class="accImg acordion-button plus-button fr"></span>
    </div>
    <!-- -->
    <div id="accFaixa" class="accFaixa">
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-ac" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ac.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-am" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-am.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-rr" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-rr.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-ro" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ro.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-pa" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-pa.shtml" -->
        </div>
        <div id="1turno-top-simples-presidente-ap" class="fr rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-ap.shtml" -->
        </div>
      </div>
      <div class="wrapper-top-candidatos-simples">
        <div id="1turno-top-simples-presidente-to" class="fl rt-component">
        <!--#include virtual="../_includes/1turno-top-simples-presidente-to.shtml" -->
        </div>
      </div>
    </div>
  </div>
  <section class="gd12 total-votos-apurados-footer-type-two">
    <div id="1turno-total-votos-apurados-br" class="rt-component">
    <!--#include virtual="../_includes/1turno-total-votos-apurados-br.shtml" -->
    </div>
  </section>
<script type="text/javascript" src="http://dfdbz2tdq3k01.cloudfront.net/js/2.1.0/ortc.js"></script>
<script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/rt/realtime-cli.min.js?v=50"></script>
<script type="text/javascript" src="http://js.statig.com.br/dropfy/dropfy-2.0.js"></script> 
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'pt-BR'}
</script>

  <script type="text/javascript" src="//js.statig.com.br/ultimosegundo/eleicoes/2014/apuracao/cargo/cargo.min.js?v=89763414"></script>
