<ol class="top-candidatos governador-eleito">
  {#dadosVariaveis.abrangencias[0].votosCandidato[0]}
  <li class="top-candidato-com-foto">
    <figure class="top-candidato-foto">
      <img title="Foto do candidato" 
                src="http://i0.statig.com.br/ultimosegundo/eleicoes/2014/fotos-candidatos/{metadata.idAbrangencia}-{metadata.nomeCargoImagem}-{dadosFixosCandidato.numero}.jpg"> 
    </figure>
    <!-- <small class="top-candidato-voto">15.321.990 votos</small> -->
    <small class="top-candidato-eleito">ELEITO <span class="top-candidato-eleito-img"></span> </small>
    <h2 class="top-candidato-nome">{dadosFixosCandidato.nomeUrna}</h2>
    <h3 class="top-candidato-partido">{dadosFixosCandidato.dadosFixosPartido.sigla}</h3>
    <em class="top-canditado-porcentagem-voto terceiro-lugar">{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</em>
    <span class="top-cantidato-eleito-1turno">Eleito no 1 turno com {@br-sep-000}{totalVotos}{/br-sep-000} votos</span>
  </li>
  {/dadosVariaveis.abrangencias[0].votosCandidato[0]}
</ol>

