<table class="full-counting" data-version="{include.version}" data-total-results="{pagination.totalResults}" data-current-page="{pagination.currentPage}" data-total-pages="{pagination.totalPages}" data-component-name="{include.name}">
  <thead class="counting-head">
    <tr>
      <th></th>
      <th>Candidato</th>
      <th>Nº</th>
      <th>Partido</th>
      <th>% de Votos</th>
      <th>Total de Votos</th>
    </tr>
  </thead>
  <tbody class="counting-body">
    {#dadosVariaveis.abrangencias[0].votosCandidato}
    <tr class="{className}">
      <td class="position">{posicao}º</td>
      <td class="candidate">{dadosFixosCandidato.nomeUrna}</td>
      <td class="number">{dadosFixosCandidato.numero}</td>
      <td class="team">{dadosFixosCandidato.dadosFixosPartido.sigla}</td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{totalVotos}{/br-sep-000}</td>
    </tr>
    {/dadosVariaveis.abrangencias[0].votosCandidato}
  </tbody>
</table>