<div class="top-candidatos-simples gd6">
  <div class="clear"></div>
  <h4>
    <strong>{dadosFixos.dadosFixos.nomeAbrangencia}</strong>
    <span class="wrapper-porcentagem-votos-apurados">
    <span class="total-votos-apurados">{@br-dec-1}{dadosVariaveis.abrangencias[0].porcentagemEleitoradoApurado}{/br-dec-1}%</span> <span class="total-votos-apurados-texto">De Votos Apurados</span>
    </span>
  </h4>
  <div class="candidatos">

    {#dadosVariaveis.abrangencias[0].votosCandidato}
     <div class="candidato">
      <span class="top-candidato-simples-nome">
        <strong>{dadosFixosCandidato.nomeUrna}</strong> 
        <span class="top-candidato-simples-nome-partido">({dadosFixosCandidato.dadosFixosPartido.sigla})</span>
      </span>

        {@eq key="{className}" value="current"}
          <div class="top-candidato-simples-percentual">
            <big>{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</big>
            <div class="top-candidato-barra">          
            <span class="top-candidato-simples-bar-100">
              <span class="top-candidato-simples-bar-perc" style="width:{porcentagemValidos}%;"></span>
            </span> 
            </div>
          </div>
        {/eq}
    
        {@eq key="{className}" value="second-round"}
          <div class="top-candidato-simples-percentual-segundo-turno">
            <big class="percentual-numero">{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</big>
            <span class="top-candidato-simples-segundo-turno">2˚TURNO</span>
          </div>
        {/eq}

        {@eq key="{className}" value="winner"}
          <div class="top-candidato-simples-percentual-eleito">
            <big class="percentual-numero">{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</big>
            <span class="top-candidato-simples-eleito">ELEITO</span>
            <span class="top-candidato-simples-icone icon-eleito"></span>        
          </div>
        {/eq}

      <div class="clear"></div>
    </div>
    {/dadosVariaveis.abrangencias[0].votosCandidato}

  </div>
   <a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/{dadosFixos.dadosFixos.nomeEstadoUrl}/#{metadata.nomeCargoImagem}" title="Veja apuração completa de {dadosFixos.dadosFixos.nomeAbrangencia}" class="ver-completa">Veja apuração completa</a>
  <div class="clear"></div>
  <div class="clear"></div>
</div>