<div class="wrapper-top-presidente-top-governador">
  <div class="segundo-turno-presidente-estado fl">
    <h2 class="title type-two"><span class="first-title">Presidente</span> <span class="second-title">2º Turno</span></h2>
    <ol class="top-candidatos">
      <li class="top-candidato-com-foto gd3">
        <figure class="top-candidato-foto">
          <img src="http://lorempixel.com/148/110/nightlife" alt="Foto do Candidato">
        </figure>
        <h2 class="top-candidato-nome">Marina Silva</h2>
        <h3 class="top-candidato-partido">PPP</h3>
        <small class="top-candidato-eleito">ELEITO <span class="top-candidato-eleito-img"></span> </small>
        <em class="top-canditado-porcentagem-voto primeiro-lugar">30%</em>
      </li>
      <li class="top-candidato-com-foto gd3">
        <figure class="top-candidato-foto">
          <img src="http://lorempixel.com/148/110/nightlife" alt="Foto do Candidato">
        </figure>
        <h2 class="top-candidato-nome">Marina Silva</h2>
        <h3 class="top-candidato-partido">PPP</h3>
        <small class="top-candidato-seg-turno">2˚TURNO</small>
        <em class="top-canditado-porcentagem-voto segundo-lugar">20%</em>
      </li>
    </ol>
  </div>
  <div class="segundo-turno-governador-estado fr">
    <h2 class="title type-two"><span class="first-title">Governador</span> <span class="second-title">2º Turno</span></h2>
    <ol class="top-candidatos">
      <li class="top-candidato-com-foto gd3">
        <figure class="top-candidato-foto">
          <img src="http://lorempixel.com/148/110/nightlife" alt="Foto do Candidato">
        </figure>
        <h2 class="top-candidato-nome">Marina Silva</h2>
        <h3 class="top-candidato-partido">PPP</h3>
        <small class=" top-candidato-seg-turno">2˚TURNO</small>
        <em class="top-canditado-porcentagem-voto terceiro-lugar">20%</em>
      </li>
      <li class="top-candidato-com-foto gd3">
        <figure class="top-candidato-foto">
          <img src="http://lorempixel.com/148/110/nightlife" alt="Foto do Candidato">
        </figure>
        <h2 class="top-candidato-nome">Marina Silva</h2>
        <h3 class="top-candidato-partido">PPP</h3>
        <small class="top-candidato-voto">15.321.990 votos</small>
        <em class="top-canditado-porcentagem-voto terceiro-lugar">20%</em>
      </li>
    </ol>
  </div>
</div>

