<div class="top-3-candidatos-foto">
  <ol class="top-candidatos">
    
    {#dadosVariaveis.abrangencias[0].votosCandidato}
      <li class="top-candidato-com-foto gd3">
        <figure class="top-candidato-foto">
          {@eq key="{metadata.nomeCargoImagem}" value="presidente"}            
               <img title="Foto do candidato" src="http://i0.statig.com.br/ultimosegundo/eleicoes/2014/fotos-candidatos/{metadata.nomeCargoImagem}-{dadosFixosCandidato.numero}.jpg"> 
          {:else}
              <img title="Foto do candidato" src="http://i0.statig.com.br/ultimosegundo/eleicoes/2014/fotos-candidatos/{metadata.idAbrangencia}-{metadata.nomeCargoImagem}-{dadosFixosCandidato.numero}.jpg"> 
          {/eq}
        </figure>
        <h2 class="top-candidato-nome">{dadosFixosCandidato.nomeUrna}</h2>
        <h3 class="top-candidato-partido">{dadosFixosCandidato.dadosFixosPartido.sigla}</h3>
        
        {@eq key="{className}" value="current"}
        <small class="top-candidato-voto">{@br-sep-000}{totalVotos}{/br-sep-000} votos</small>
        {/eq}
    
        {@eq key="{className}" value="second-round"}
        <small class="top-candidato-seg-turno">2˚TURNO</small>
        {/eq}

        {@eq key="{className}" value="winner"}
        <small class="top-candidato-eleito">ELEITO <span class="top-candidato-eleito-img"></span> </small>
        {/eq}

        <em class="top-canditado-porcentagem-voto terceiro-lugar">{@br-dec-1}{porcentagemValidos}{/br-dec-1}%</em>
      </li>
    {/dadosVariaveis.abrangencias[0].votosCandidato}

  </ol>

{#dadosVariaveis.abrangencias[0]}
  <div class="info-apurados-strip info-apurados-strip-2turno">

    <div class="votos-apurados-strip {@if cond="{porcentagemEleitoradoApurado} == 100"}apurados-completo{/if}">
      <span class="votos-apurados-icone-strip {@if cond="{porcentagemEleitoradoApurado} < 100 "} icon-apurando {:else} icon-apurado {/if}"></span>
      <em class="porcento-votos-apurados-strip porcento-votos-apurados">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</em>
      <small class="votos-apurados-text-strip ">DE VOTOS APURADOS</small>
    </div>

    <div class="votos-apurados-strip {@if cond="{porcentagemEleitoradoApurado} == 100"}apurados-completo{/if}">
      <em class="total-votos-apurados-strip total-votos-apurados">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</em>
      <small class="numero-total-votos">N˚ TOTAL DE VOTOS</small>
    </div>

  </div>
</div>
{/dadosVariaveis.abrangencias[0]}
