{#br}
<div class="info-apurados-strip">
    <div class="votos-apurados-strip gd3 {@if cond="{porcentagemEleitoradoApurado} == 100"}apurados-completo{/if}">
      <span class="votos-apurados-icone-strip 
        {@if cond="{porcentagemEleitoradoApurado} < 100 "} icon-apurando {:else} icon-apurado {/if}"></span>
      <em class="porcento-votos-apurados-strip porcento-votos-apurados">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</em>
      <small class="votos-apurados-text-strip ">DE VOTOS APURADOS</small>
    </div>
    <div class="votos-apurados-strip  gd3 nomgr">
      <span class="votos-apurados-icone-strip votos-total-icone 
        {@if cond="{porcentagemEleitoradoApurado} < 100 "} icon-apurando {:else} icon-apurado {/if}"></span>
      <em class="total-votos-apurados-strip total-votos-apurados">{@br-sep-000}{eleitoradoApurado}{/br-sep-000} </em>
      <small class="numero-total-votos">N˚ TOTAL DE VOTOS</small>
    </div>
</div>
{/br}