<table class="full-counting">
  <thead class="counting-country-head">
    <tr>
      <th class="text-left">Estado</th>
      <th>% Apurados</th>
      <th>Total de Votos</th>
    </tr>
  </thead>
  <tbody class="counting-body">
    {#abrangencias.SP}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/sao-paulo/">São Paulo</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.SP}

    {#abrangencias.MG}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/minas-gerais/">Minas Gerais</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.MG}

    {#abrangencias.RJ}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/rio-de-janeiro/">Rio de Janeiro</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.RJ}

    {#abrangencias.BA}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/bahia/">Bahia</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.BA}

    {#abrangencias.RS}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/rio-grande-do-sul/">Rio Grande do Sul</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.RS}

    {#abrangencias.PR}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/parana/">Paraná</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.PR}

    {#abrangencias.PE}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/pernambuco/">Pernambuco</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.PE}

    {#abrangencias.CE}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/ceara/">Ceará</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.CE}

    {#abrangencias.PA}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/para/">Pará</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.PA}

    {#abrangencias.SC}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/santa-catarina/">Santa Catarina</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.SC}
    
    {#abrangencias.MA}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/maranhao/">Maranhão</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.MA}

    {#abrangencias.GO}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/goias/">Goiás</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.GO}

    {#abrangencias.PB}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/paraiba/">Paraíba</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.PB}

    {#abrangencias.ES}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/espirito-santo/">Espírito Santo</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.ES}

    {#abrangencias.PI}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/piaui/">Piauí</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.PI}

    {#abrangencias.RN}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/rio-grande-do-norte/">Rio Grande do Norte</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.RN}

    {#abrangencias.AM}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/amazonas/">Amazonas</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.AM}

    {#abrangencias.MT}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/mato-grosso/">Mato Grosso</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.MT}

    {#abrangencias.AL}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http:/http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/alagoas/">Alagoas</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.AL}

    {#abrangencias.DF}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/distrito-federal/">Distrito Federal</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.DF}

    {#abrangencias.MS}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/mato-grosso-do-sul/">Mato Grosso do Sul</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.MS}

    {#abrangencias.SE}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/sergipe/">Sergipe</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.SE}

    {#abrangencias.RO}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/rondonia/">Rondônia</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.RO}

    {#abrangencias.TO}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/tocantins/">Tocantins</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.TO}

    {#abrangencias.AC}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/acre/">Acre</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.AC}

    {#abrangencias.AP}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="http://ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/amapa/">Amapá</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.AP}

    {#abrangencias.RR}
    <tr class="current {@if cond="{porcentagemEleitoradoApurado} == 100"}finish{/if}">
      <td class="country"><a href="ultimosegundo.ig.com.br/eleicoes/apuracao/2014/{dadosFixos.dadosFixos.turno}turno/roraima/">Roraima</a></td>
      <td class="votes-percentage">{@br-dec-1}{porcentagemEleitoradoApurado}{/br-dec-1}%</td>
      <td class="total">{@br-sep-000}{eleitoradoApurado}{/br-sep-000}</td>
    </tr>
    {/abrangencias.RR}


  </tbody>
</table>
